@import "tailwindcss";

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0px); }
}
.floating-icon {
    animation: float 4s ease-in-out infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin 3s linear infinite;
}

.spinner-ring {
  border: 4px solid rgba(34, 197, 94, 0.1); /* Light green base */
  border-top: 4px solid #22c55e; /* Bright green spinning part */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}